.brand {
    height: 13rem;
    width: 12rem;
    margin-top: -10%;
    margin-left: -15%;
}
.nav-link {
    margin-top: 200px;
}
.nav-item {
    display: inline-block;
}
.dropdown-menu {
    width: 50px;
    height: 135px;
    display: none;
}
.dropdown-menu a {
    display: none;
}
li {
    list-style: none;
}
.nav-item:hover, .dropdown-menu {
    background-color: brown;
    display: block;
}
